<form
  class="signup-form"
  [formGroup]="signupFormGroup"
  (ngSubmit)="onSignupClick()"
>
  <mat-form-field class="signup--field">
    <input
      matInput
      placeholder="first name"
      formControlName="firstNameInputControl"
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="signup--field">
    <input
      matInput
      placeholder="last name"
      formControlName="lastNameInputControl"
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="signup--field">
    <input
      matInput
      placeholder="email"
      formControlName="emailInputControl"
      type="email"
    />
  </mat-form-field>
  <mat-form-field class="signup--field">
    <input
      matInput
      placeholder="password"
      formControlName="passwordInputControl"
      type="password"
    />
  </mat-form-field>
  <button
    mat-raised-button
    name="signupFormSubmitBtn"
    class="signup--btn"
    type="submit"
  >
    Signup
  </button>
  <mat-error class="signup-error">
    {{ errorMessage }}
  </mat-error>
</form>
